body{
	background: #fafafa;
}
.row{
	.blur{
		-webkit-filter: grayscale(100%) blur(1px); /* Chrome, Safari, Opera */
		filter: grayscale(100%) blur(1px);
		&:hover{
			-webkit-filter: grayscale(0%) blur(0px); /* Chrome, Safari, Opera */
			filter: grayscale(0%) blur(0px);
		}
	}
}